{% extends 'header.html' %}
{% block extrastyle %}
<style>
    .cards_column {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 98vw;
        padding-bottom: 1rem;
        border: 3px dashed red;
    }
    .image_row {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly !important;
        flex-wrap: wrap;
        border: 3px dashed turquoise;
    }
    .image {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: .063rem;
        margin-right: auto;
        margin-left: auto;
        border: 3px dashed purple;
        max-width: 100%;
        height: auto;
      
    }
    a.card:link {
        display: flex;
        flex-direction: column;        
        justify-content: space-around;
        {% comment %} margin-left: 2%;
        margin-right: 4%; {% endcomment %}
        {% comment %} margin-bottom: 1.25rem; {% endcomment %}
        width: 95vw;
        border-radius: 1.563rem;
        border: .188rem solid #000000;
        {% comment %} padding: .625rem; {% endcomment %}
        box-shadow: .063rem .063rem  .625rem .063rem  #808080;
        text-decoration: none;
        background-color: #ffffff;
        color: #000000;       
        border: 3px dashed blue;
    }
    a.card:hover{
        background-color: #0000ff;
        color: #87cefa !important;
        transform: scale(1.01, 1.01);
        box-shadow: .813rem .813rem 1.875rem .813rem #535353;
        border: 3px dashed purple;
    }
    .card:hover p, .card:hover .title, .card:hover .click{
        color: #87cefa !important;
    }
    .image img{
        height: 20rem;
        {% comment %} max-width: 400px; {% endcomment %}
        {% comment %} width: auto; {% endcomment %}
        {% comment %} margin-left: auto;
        margin-right: auto;
        margin-top: 0rem;
        padding-top: 0rem; {% endcomment %}
        object-fit: contain;
        border: 3px dashed red;
    }
    .tags{
        color: #000000; 
        padding: .25rem;
        background-color: #add8e6; 
        margin: .25rem; 
        border-radius: .625rem;
    }
    b{
        font-size: 2rem;
    }
    .description {
        color:#000000 !important;
        font-style: normal !important;        
        padding: 0 .625rem;
        border: 3px dashed red;
    }
    .card label{
        color: rgb(0, 0, 0) !important;
        padding-bottom: 0rem;
        margin-bottom: 0rem;
    }
    .click{
        color: #ffffff; 
        float: right; 
        font-size: 2.5rem; 
        margin-right: 2.5rem;
    }
    .footer {
        padding: .625rem;
        border: 3px dashed red;        
        flex-wrap: wrap;
    }
</style>
{% endblock extrastyle %}

{% block content %}
    <div>
        <h1  style="font-size: 2.5rem; margin-bottom: 3.5rem;">Upcoming Exhibits</h1>
        {% for message in messages %}
            <center style= "text-align: center; color: rgb(0, 195, 255); font-size: 3.5rem;">[ {{ message }} ]</center>
            <br>
        {% endfor %}
        {% for exhibit in exhibits %}
        <div class="cards_column">
            <a class="card" href="{% url 'edit'  exhibit.exhibit_id %}">
                    <p class="description">{{ exhibit.description }}</p>
                    <div class="image_row">
                        {% for image in exhibit.pics.all %}
                          {% if image.featured %}
                            {% if image.exhibit_name.exhibit_id == exhibit.exhibit_id %}
                                <div class="image">
                                        <label style="border: 3px dashed purple;">{{ image.name }}</label>
                                        <img src="{{ image.upload.url }}" alt="image missing"/>
                                </div>
                              {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <br>
                    <div class="footer">
                        <p><b>{{ exhibit.exhibit_name }} -</b>
                            {% for tag in exhibit.tags.all %}
                                <span class="tags"><label> {{ tag.name }} </label></span>            
                            {% endfor %}
                            <span class="click">CLICK TO EDIT</span>
                        </p>
                    </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}